

.title{
    font-size: 30px;
    text-align: center;
    
}

.tabs.is-medium ul a:hover{
    
    background-color: rgb(132, 182, 216);
    display: block;

}

.container{
    border: 2px;
}

.input-short{
    width: 350px;
  

    
}

.title1{
  
    text-align: center;

}

.statusDisplayNone{
    display: none
}

.divMensaje {
    display: block;
    width: 100%;
    color: green;
    font-weight: bold;
}
